DATABASE_URL="yang udah gua kasih"

AUTH_SECRET="isi-random-string-panjang-minimal-32-karakter"
AUTH_URL="http://localhost:3000"

CLOUDINARY_CLOUD_NAME="isi-cloud-name-dari-dashboard"
CLOUDINARY_API_KEY="isi-api-key-dari-dashboard"
CLOUDINARY_API_SECRET="isi-api-secret-dari-dashboard"
